################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Stepeco/.vs/Stepeco/v16
/Stepeco/obj/Release/netcoreapp3.1
